@using AutoMapper
@using WebReg.Models
@using WebReg.Services
@inject IPersonService PersonService
@inject IMapper Mapper

<div class="d-flex">
    <div class="container">
        <div class="row">
            <div class="input-group">
                <span class="d-flex align-items-center mr-2">First Name:</span>
                <input type="text" @bind="Name" />
                <div class="input-group-append">
                    <button @onclick="SearchName" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>

        @if (Persons != null && Persons.Count == 0)
        {
            <div class="row mt-5">
                <div class="d-inline-flex alert alert-danger" role="alert">
                    Nothing has been found.
                </div>
            </div>
        }

        @if (Persons != null && Persons.Count > 0)
        {
            <div class="row">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th data-column="1">First Name</th>
                            <th data-column="2">Last Name</th>
                            <th data-column="3">Birth Date</th>
                            <th data-column="4">Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Persons)
                        {
                            <tr class="table-dark">
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.BirthDate</td>
                                <td>@item.Email</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>

@code {

    public List<PersonViewModel> Persons { get; set; }

    private string Name { get; set; }

    private async Task SearchName()
    {
        var persons = await PersonService.SearchPersonsByNameAsync(Name);
        Persons = Mapper.Map<List<PersonViewModel>>(persons);
    }
}
