@{
    ViewData["Title"] = "Search Person";
}

<div class="d-flex flex-column">
    <div>
        <h1 class="display-4 mb-5">Search</h1>
    </div>

    <component type="typeof(WebReg.Views.Shared.Components.Search)" render-mode="ServerPrerendered" />
</div>