@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Persons View */

.persons th {
    cursor: pointer;
}

/* Pager */

.pager button {
    width: 40px;
    height: 36px;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    border-radius: 2px !important;
    background-color: white;
    font-size: 14px;
    padding-bottom: 2px;
}

.pager button:hover:enabled, .pager button:focus:enabled {
    border: 1px solid #004d44;
}

.pager button.active {
    font-weight: bold;
    border: 1px solid #004d44;
    background-color: rgba(0, 77, 68, 0.06);
}

.pager .btn-first, .pager .btn-last {
    padding-left: 17px;
    padding-right: 17px;
    width: auto;
}

.pager .btn-number {
    margin-left: -1px;
    margin-right: -1px;
}
