@{
    ViewData["Title"] = "Web Register";
}

<div class="text-center mt-3 mb-5">
    <h1 class="display-4">Let's build... 2021 Event</h1>
</div>

<div>
    <div class="row mb-3">
        <div class="col-4 pr-3 d-flex align-items-stretch">
            <div class="card text-white bg-primary">
                <div class="card-header">Session 1</div>
                <div class="card-body">
                    <h4 class="card-title">Introduction</h4>
                    <p class="card-text">Business use case, architecture and tooling, Git​</p>
                </div>
            </div>
        </div>
        <div class="col-4 pr-3 d-flex align-items-stretch">
            <div class="card text-white flex-grow-1">
                <div class="card-header">Session 2</div>
                <div class="card-body">
                    <h4 class="card-title">Development</h4>
                    <p class="card-text">MVC and frontend development​</p>
                </div>
            </div>
        </div>
        <div class="col-4 pr-3 d-flex align-items-stretch">
            <div class="card text-white flex-grow-1">
                <div class="card-header">Session 3</div>
                <div class="card-body">
                    <h4 class="card-title">Development</h4>
                    <p class="card-text">Entity Framework Core and Database</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 pr-3 d-flex align-items-stretch">
            <div class="card text-white flex-grow-1">
                <div class="card-header">Session 4</div>
                <div class="card-body">
                    <h4 class="card-title">Testing</h4>
                    <p class="card-text">Testing and Dependency injection​</p>
                </div>
            </div>
        </div>
        <div class="col-4 pr-3 d-flex align-items-stretch">
            <div class="card text-white flex-grow-1">
                <div class="card-header">Session 5</div>
                <div class="card-body">
                    <h4 class="card-title">Deployment</h4>
                    <p class="card-text">Deployment and hosting on Azure​</p>
                </div>
            </div>
        </div>
        <div class="col-4 pr-3 d-flex align-items-stretch">
            <div class="card text-white flex-grow-1">
                <div class="card-header">Session 6</div>
                <div class="card-body">
                    <h4 class="card-title">Azure</h4>
                    <p class="card-text">Azure Functions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4 pr-3 d-flex align-items-stretch">
            <div class="card text-white bg-info flex-grow-1">
                <div class="card-header">Session 7</div>
                <div class="card-body">
                    <h4 class="card-title">Cognitive service</h4>
                    <p class="card-text">Solution integration to Cognitive service</p>
                </div>
            </div>
        </div>
        <div class="col-4 pr-3 d-flex align-items-stretch">
            <div class="card text-white bg-light flex-grow-1">
                <div class="card-header">Session 8</div>
                <div class="card-body">
                    <h4 class="card-title">Closing event</h4>
                    <p class="card-text">Closing event and final demos​</p>
                </div>
            </div>
        </div>
    </div>
</div>