@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Super Event App</h1>
    <a asp-controller="Event" asp-action="Participants">View participant list</a>
    |
    <a asp-controller="Event" asp-action="Index">Add new participant</a>
</div>
